@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
*{
	margin:0;
	padding:0;
	box-sizing:border-box; 
}
html{
	font-size: 10px;
	font-family: 'Montserrat', sans-serif; 
	scroll-behavior: smooth; 
}
.container{
	min-height: 100vh;
	width:100%;
	display:flex;
	align-items: center;
	justify-content:center;
}
a{
	color:black;
}
img{
	height: 100%;
	width: 100%;
	object-fit:cover;
}
p{
	color:white;
	text-align:left;
	font-size:1.5rem;
	line-height: 1.9rem;
}
.brand h1{
	font-size:3rem;
	text-transform: uppercase;
	color:white;
}
.brand h1 span{
	color:crimson;
}
/*header*/
#header{
	position:fixed;
	z-index:1000;
	left:0;
	top:0;
	width:100vw;
	height: auto;
}
#header .header{
	min-height: 8vh;
	background-color:rgba(31,30,30,0.24);
	transition: .3s ease background-color;
}
#header .nav-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	max-width: 1300px;
	padding: 0 10px;
}
#header .nav-list ul {
	list-style: none;
	position: absolute;
	background-color: rgb(31, 30, 30);
	width: 100vw;
	height: 100vh;
	left: 100%;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1;
	overflow-x: hidden;
	transition: .5s ease left;
}
#header .nav-list ul.active {
	left: 0%;
}
#header .nav-list ul a {
	font-size: 2.5rem;
	font-weight: 500;
	letter-spacing: .2rem;
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	padding: 20px;
	display: block;
}
#header .nav-list ul a::after {
	content: attr(data-after);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	color: rgba(240, 248, 255, 0.021);
	font-size: 13rem;
	letter-spacing: 50px;
	z-index: -1;
	transition: .3s ease letter-spacing;
}
#header .nav-list ul li:hover a::after {
	transform: translate(-50%, -50%) scale(1);
	letter-spacing: initial;
}
#header .nav-list ul li:hover a {
	color: crimson;
}
#header .hamburger {
	height: 60px;
	width: 60px;
	display: inline-block;
	border: 3px solid white;
	border-radius: 50%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 100;
	cursor: pointer;
	transform: scale(.8);
	margin-right: 20px;
}
#header .hamburger:after {
	position: absolute;
	content: '';
	height: 100%;
	width: 100%;
	border-radius: 50%;
	border: 3px solid white;
	animation:hamburger_puls 1s ease infinite;
}
#header .hamburger .bar {
	height: 2px;
	width: 30px;
	position: relative;
	background-color: white;
	z-index: -1;
}
#header .hamburger .bar::after,
#header .hamburger .bar::before {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	background-color: white;
	transition: .3s ease;
	transition-property: top, bottom;
}
#header .hamburger .bar::after {
	top: 8px;
}
#header .hamburger .bar::before {
	bottom: 8px;
}
#header .hamburger.active .bar::before {
	bottom: 0;
}
#header .hamburger.active .bar::after {
	top: 0;
}
/*end of header section*/
/*hero section*/
#hero{
	background-image:url(./img/elep.jpeg);
	background-size:cover;
	background-position: top-center;
	position:relative;
	z-index:1;
}
#hero::after{
	content:'';
	position: absolute;
	left:0;
	top:0;
	height:100%;
	width: 100%;
	background-color: black;
	opacity:.2;
	z-index:-1;
}
#hero .hero{
	max-width:1200px;
	margin:0 auto;
	padding:0 50px;
	justify-content: flex-start;
}
#hero h1{
	display:block;
	width:fit-content;
	font-size: 4rem;
	position:relative;
	color:transparent;
	animation:text_reveal .5s ease forwards;
	animation-delay:2s;
}     
#hero h1:nth-child(1){
	animation-delay:1.5s;
}
#hero h1:nth-child(2){
	animation-delay:2.5s;
}
#hero h1:nth-child(3){
	animation:text_reveal_name .5s ease forwards;
	animation-delay:3.5s;

} 
#hero h1 span{
	position:absolute;
	top:0;
	left:0;
	height:100%;
	width:0%;
	background-color: crimson;
	animation: text_reveal_box 1s ease;
	animation-delay:1.5s;
}
#hero h1:nth-child(1) span{
	animation-delay: 1s
}	
#hero h1:nth-child(2) span{
animation-delay: 2s
}	
#hero h1:nth-child(3) span{
	animation-delay: 3s;
}		
#hero .cta{
	display:inline-block;
	padding:10px 30px;
	color:white;
	background-color: transparent;
	border:2px solid crimson;
	font-size:2rem;
	text-transform: uppercase;
	letter-spacing: .1rem;
	margin-top:30px;
	transition: .3s ease;
	transition-property: background-color,color;
	text-decoration: none;
}            
#hero .cta:hover{
	color:white;
	background-color: crimson;
}

/*end hero section*/
/*places section*/
#places{}
#places .places{
	flex-direction:column;
	text-align: center;
	max-width:1500px;
	margin:0 auto;
	padding:100px 0;
}
.section-title{
	font-size:4rem;
	font-weight: 300;
	color:black;
	margin-top:40px;
	margin-bottom: 40px;
	text-transform: uppercase;
	letter-spacing: .2rem;
	text-align: center;

}
.section-title span{
	color:crimson;
}
.places-top p{
	font-size: 1.8rem;
	margin-top:5px;
	line-height: 2.5rem;
	font-weight: 300;
	color:black;
	margin-bottom:50px;
	text-align: left;

}
#places .section-title{
	margin-top: 5px;
}
#places .places-bottom{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	margin-top:50px;
}
#places .places-item{
	color:white;
	flex-basis: 80%; 
	display:flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column; 
	padding:10px;
	border-radius: 10px;
	background-image:url(./img/npj.jpg);
	background-size: cover;
	margin:10px 5%;
	position: relative;
	z-index:1;
	overflow: hidden;
}
#places .places-item::after{
	content:'';
	position:absolute;
	left:0;
	top:0;
	height: 100%;
	width:100%;
	background-image:linear-gradient(60deg,#29323c 0%,#485563 100%);
	opacity:.6;
	z-index:-1;
}

#places .places-item h2{
	font-size:3rem;
	margin-bottom:10px;
	text-transform: uppercase;
}
/*end places section*/
/*nearby section*/
#nearby .nearby{
	flex-direction: column;
	max-width:1200px;
	margin:0 auto;
	padding:100px 0 ;
	background-image:linear-gradient(60deg,#29323c 0%,#485563 100%);
}
#nearby .nearby-header h1{
	margin-bottom: 20px;
}
#nearby .nearby-places{
	display:flex;
	align-items: center;
	justify-content: center;
	flex-direction: column; 
}
#nearby .nearby-item{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width:80%;
	margin:20px auto;
	overflow:hidden;
	border-radius: 20px;
}
#nearby .nearby-info{
	padding:10%;
	flex-basis: 50%;
	background-image:linear-gradient(60deg,#29323c 0%,#485564 100%);
	height: 10%;
	display:flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	color:white;
}
#nearby .nearby-img{
	flex-basis: 50%;
	height: 300px;
	overflow: hidden;
	position: relative;
}
#nearby .nearby-img:after{
	content:'';
	position: absolute;
	left: 0;
	top:0;
	height: 100%;
	width:100%;
	background-image:linear-gradient(60deg,#29323c 0%,#485564 100%);
	opacity:.3;
}
#nearby .nearby-img img{
	transition: .4s ease transform;
}
#nearby .nearby-item .nearby-img:hover img{
	transform:scale(1.1);
}
/*end nearby section*/
/*about section*/
#about .about{
	flex-direction: column-reverse; 
	text-align: center;
	max-width: 1200px;
	margin: 0 auto;
	padding:100px 20px;
}
#about .col-left{
	width: 250px;
	height: 450px;
	margin-top: 20px;
}
#about .col-right{
	width:100%;

}
#about .col-right h2{
	font-size: 1.8rem;
	font-weight: 500;
	letter-spacing: .2rem;
	margin-bottom: 5px; 
}
#about .col-left .about-img{
	height: 100%;
	width:100%;
	position: relative;
	border:10px solid white;
}
#about .col-left .about-img::after{
	content:'';
	position: absolute;
	left:-33px;
	top:19px;
	height: 98%;
	width: 98%;
	border: 7px solid crimson;
	z-index:-1;
}
/*end of about section*/
/*contact section*/
#contact .contact{
	flex-direction: column;
	max-width: 1200px;
	margin: 0 auto; 
}
#contact .contact-items{
	width:400px;

}
#contact .contact-item{
	width:80%;
	padding:20px;
	text-align: center;
	border-radius: 10px;
	padding:30px;
	margin: 30px;
	justify-content: center;
	display:flex;
	align-items: center;
	box-shadow: 0px 0px 18px 0 #0000002c;
	flex-direction: column;
	transition: .3s ease box-shadow;
}
#contact .icon{
	width: 70px;
	margin:0 auto;
	margin-bottom: 10px;
}
#contact .contact-info h1{
	font-size:2.5rem;
	font-weight: 500;
	margin-bottom: 5px;
}
#contact .contact-info h2{
	font-size:1.3rem;
	line-height: 2rem;
	font-weight: 500;
}
#contact .contact-item:hover{
	box-shadow:0px 0px 5px 0 #0000002c;
}
/*end of contact section*/
/*footer section*/
#footer{
	background-image:linear-gradient(60deg,#29323c 0%,#485564 100%);
}
#footer .footer{
	min-height: 100px;
	flex-direction: column;
	padding-top: 50px;
	padding-bottom:10px;
}
#footer h2{
	color: white;
	font-weight: 500;
	font-size: 1.5rem;
	letter-spacing: .1rem;
	margin-top: 10px;
	margin-bottom: 10px;
}
#footer .social-icon{
	display:flex;
	margin-bottom: 30px;
}
#footer .social-item{
	height:50px;
	width:50px;
	margin:0 5px;
}
#footer .social-item:hover img{
	transform: 	scale(1.1);
}
/*end of footer section*/
/*keyframes*/
@keyframes hamburger_puls{
	0%{
		opacity:1;
		transform=scale(1);
	}
	100%{
		opacity:0;
		transform:scale(1.5);
	}
}
@keyframes text_reveal_box{
	50%{
		width:100%;
		left:0;
	}
	100%{
		width:0;
		left:100%;
	}
}
@keyframes text_reveal{
	100%{
		color:white;
	}
}
@keyframes text_reveal_name{
	100%{
		color:crimson;
	}
}
/*end keyframes*/
/*media query for tablet*/
@media only screen and (min-width: 768px){
	.cta{
		font-size: 9.5rem;
		padding:20px 60px;
	}
	.section-title h1{
		font-size: 7rem;
	}
	#hero h1{
		font-size:6rem;
	}
/*places section*/
#places .places-bottom .places-item{
	flex-basis: 45%;
	margin:2.5%;
}
/*end of places section*/
/*nearby places*/
#nearby .nearby-item{
	flex-direction: row;
}
#nearby .nearby-item:nth-child(even){
	flex-direction: row-reverse;
}
#nearby .nearby-item{
	height: 400px;
	margin:0;
	width: 100%;
	border-radius:0;
}
#nearby .nearby-places .nearby-info{
	height:100%;
}
#nearby .nearby-places .nearby-img{
	height:100%;
}
/*end of nearby places*/
/*about*/
#about .about{
	flex-direction:row;
}
#about .col-left{
	width:600px;
	height:400px;
	padding-left:60px;
}
#about .col-right{
	text-align: left;
	padding:30px;
}
#about .col-right h1{
	text-align: left;
}
/*end about*/
/*contact*//* contact  */
	#contact .contact {
		flex-direction:row;
		display:flex;
		padding: 100px 0;
		align-items: center;
		justify-content: center;
		min-height: 20vh;
	}
	#contact .contact-items {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: center;	
		margin: 0;
	}
	#contact .contact-item {
		margin: 20px;
		flex-direction:row;
		display:flex;
	}
	#contact .contact-item .icon {
		height: 100px;
		width: 100px;
	}
	#contact .contact-item .icon img {
		object-fit: contain;
	}
	#contact .contact-item .contact-info {
		width: 100%;
		text-align: left;
		padding-left: 20px;
	}
/*end contact*/
}
/*end of media query fot tablet*/
/*media query for desktop*/
@media only screen and (min-width: 1200px){
	/*header*/
	#header .hamburger {
		display: none;
	}
	#header .nav-list ul {
		position: initial;
		display: block;
		height: auto;
		width: fit-content;
		background-color: transparent;
	}
	#header .nav-list ul li {
		display: inline-block;
	}
	#header .nav-list ul li a {
		font-size: 1.8rem;
	}
	#header .nav-list ul a:after {
		display: none;
	}
	/*end header*/
	#places .places-bottom .places-item{
	flex-basis:22%;
	margin:1.5%;
}
}
/*end of media query for desktop*/